[submodule "knowledge"]
	path = knowledge
	url = https://github.com/siliconjungle/ink-knowledge.git
[submodule "lowerings/c"]
	path = lowerings/c
	url = https://github.com/siliconjungle/ink-lowering-c.git
[submodule "lowerings/rust"]
	path = lowerings/rust
	url = https://github.com/siliconjungle/ink-lowering-rust.git
[submodule "lowerings/wasm"]
	path = lowerings/wasm
	url = https://github.com/siliconjungle/ink-lowering-wasm.git
[submodule "lowerings/gpu"]
	path = lowerings/gpu
	url = https://github.com/siliconjungle/ink-lowering-gpu.git
[submodule "planner"]
	path = planner
	url = https://github.com/siliconjungle/ink-planner.git
[submodule "runtime"]
	path = runtime
	url = https://github.com/siliconjungle/ink-runtime.git
